th{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color:#C4BFE8;
    color: white;
    border: 1px solid #ddd;
}

td{
  border: 1px solid #ddd;
  padding: 5px;
}

table{
    width: 100%;
}

.candidates-table .search-bar{
    margin:15px;
}

.candidates-table input{
    padding: 6px;
    margin-top: 5px;
    font-size: 12px;
    border: none;
    background-color: aliceblue;
}
.candidates-table button{
    
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 12px;
    border: none;
    cursor: pointer;
}


